:root {
    --primary-color: #007bff;
    --secondary-color: #28a745;
    --accent-color: #ff5733;
    --bg-color: #f8f9fa;
    --dark-bg-color: #2c3e50;
    --text-color: #212529;
    --header-bg-color: rgba(255, 255, 255, 0.95);
    /* --header-bg-color: #66bb6a; */
    --font-normal: 'Roboto', sans-serif;
    --font-emphasized: 'Montserrat', sans-serif;
    --border-radius: 8px;
    --shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 6px 12px rgba(0, 0, 0, 0.2);
}

body {
    font-family: var(--font-normal);
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.btn-primary:hover {
    filter: brightness(85%);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

.btn-secondary:hover {
    filter: brightness(85%);
}
