<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
<div class="container">
  <div class="inner-container">
    <h1 class="text-center mb-4">Add Job</h1>
    <% if (locals.formErr) { %>
      <div class="alert alert-danger">
        <%= locals.formErr %>
      </div>
    <% } %>
    <form action="/jobs/add" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="jobCategory">Job Category</label>
          <select class="form-control" id="jobCategory" name="jobCategory" required>
            <option value="">--Select Category--</option>
            <% jobs.forEach(job => { %>
              <option value="<%= job.jobCategory %>">
                <%= job.jobCategory %>
              </option>
            <% }) %>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="jobDesign">Job Designation</label>
          <select class="form-control" id="jobDesign" name="jobDesign" required>
            <option value="">--Select Job--</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="jobLocation">Job Location</label>
          <input type="text" class="form-control" id="jobLocation" name="jobLocation" required>
        </div>
        <div class="form-group col-md-6">
          <label for="companyName">Company Name</label>
          <input type="text" class="form-control" id="companyName" name="companyName" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="salary">Salary</label>
          <input type="text" class="form-control" id="salary" name="salary" required>
        </div>
        <div class="form-group col-md-6">
          <label for="applyBy">Apply By</label>
          <input type="date" class="form-control" id="applyBy" name="applyBy" required>
        </div>
      </div>
      <div class="form-group">
        <label for="skillsRequired">Skills Required</label>
        <select id="skillsRequired" name="skillsRequired" class="form-control" multiple></select>
      </div>
      <div class="form-group col-md-6 pl-0">
        <label for="numberOfOpenings">Number of Openings</label>
        <input type="number" class="form-control" id="numberOfOpenings" name="numberOfOpenings" required>
      </div>
      <button type="submit" class="btn btn-outline-primary">Add Job</button>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="/js/jobDesignations.js" type="module"></script>
