<section class="err-wrapper d-flex justify-content-center align-items-center">
  <div class="error-content text-center">
      <h1 class="display-4 text-muted">
          <%= locals.err ? locals.err.message : 'Internal Server Error' %>
      </h1>
      <p class="lead">Something went wrong. Please try again later or contact support if the problem persists.</p>
      <a href="/" class="btn btn-primary">Go Back Home</a>
  </div>
</section>
