<section class="err-wrapper d-flex justify-content-center align-items-center">
    <h1 class="display-4 text-muted">
      <%= locals.err ? locals.err : 'Internal Server Error' %>
    </h1>
</section>
  