<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-transform-up modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content glass-container">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="changePasswordForm" action="/user/change-password" method="POST">
          <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" name="currentPassword" class="form-control" id="currentPassword" placeholder="Enter your current password" required>
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="Enter a new password" required>
          </div>
          <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
            <input type="password" name="confirmNewPassword" class="form-control" id="confirmNewPassword" placeholder="Re-enter the new password" required>
          </div>
          <button type="submit" class="btn btn-primary w-100 mt-3">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
