<header class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand text-primary fw-bold" href="/">Easily</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Jobs
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/jobs">Job Listings</a></li>
            <li><a class="dropdown-item" href="/category">Job Categories</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <% if (!locals.currentUser) { %>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Access Account
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
              </li>
              <li>
                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
              </li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a href="/jobs/add" class="btn btn-secondary me-2">Post A Job</a>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="<%= locals.currentUser.profileImage || '/images/default-avatar.png' %>" alt="Profile" class="avatar-circle">
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/change-pass">Update Password</a></li>
              <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
              <li><a class="dropdown-item" href="/user/delete">Delete Account</a></li>
            </ul>
          </li>
        <% } %>
        <form class="d-flex ms-3 search-bar d-none" id="jobSearchForm">
          <input class="form-control me-2 search-input" type="search" placeholder="Search jobs..." id="jobSearch" aria-label="Search">
          <button class="btn btn-outline-primary search-button" type="button" onclick="searchJobs()">Search</button>
        </form>
      </ul>
    </div>
  </div>
</header>
